@mixin triangle($direction: top, $size: 5px, $border-color: #5a5a5a) {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
  @if ($direction==top) {
    border-width: 0 $size $size  $size;
    border-color: transparent transparent $border-color transparent;
  }
  @if ($direction==right) {
    border-width: $size 0 $size $size;
    border-color: transparent $border-color transparent $border-color;
  }
  @if ($direction==left) {
    border-width: $size $size $size 0;
    border-right-color: $border-color;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  @if ($direction==bottom) {
    border-width: $size $size 0 $size;
    border-top-color: $border-color;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    cursor: pointer;
  }
}
@mixin triangleB($direction: top, $size: 5px, $border-color: #e3e4e5) {
  width: 0;
  height: 0;
  content: " ";
  border-style: solid;
  position: absolute;
  @if ($direction==top) {
    border-width: 0 $size $size  $size;
    border-color: transparent transparent $border-color transparent;
    top: 2px;
    left: -5px;
  }
  @if ($direction==right) {
    border-width: $size 0 $size $size;
    border-color: transparent $border-color transparent $border-color;
    top: -5px;
    left: -7px;
  }
  @if ($direction==left) {
    border-width: $size $size $size 0;
    border-right-color: $border-color;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: -5px;
    left: 2px;
  }
  @if ($direction==bottom) {
    border-width: $size $size $size $size;
    border-right-color: transparent;
    border-top-color: $border-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: -7px;
    left: -5px;
  }
}
.flex{
  display: flex;
  align-items: center;
}
.flex-space{
  justify-content: space-evenly;
}
@mixin set-value($side, $value) {
  #{$side}: $value;
}

@for $i from 1 to 200 {
  .font#{$i} {
    font-size: $i+px;
    line-height: $i+px;
  }

  .black#{$i} {
    font-size: $i+px;
    line-height: $i+px;
    color: #000;
  }

  .black#{$i}_3 {
    font-size: $i+px;
    line-height: $i+px;
    color: #333;
  }

  .white#{$i} {
    font-size: $i+px;
    line-height: $i+px;
    color: #fff;
  }

  .glay#{$i} {
    font-size: $i+px;
    line-height: $i+px;
    color: #999;
  }

  .glay#{$i}_6 {
    font-size: $i+px;
    line-height: $i+px;
    color: #666666;
  }

  .padding_b_#{$i} {
    padding: 0 $i+px;
    box-sizing: border-box;
  }

  .line-height-#{$i} {
    line-height: $i+px;
  }

  .m-t-#{$i} {
    @include set-value(margin-top, $i+px);
  }

  .m-b-#{$i} {
    @include set-value(margin-bottom, $i+px);
  }

  .m-l-#{$i} {
    @include set-value(margin-left, $i+px);
  }

  .m-r-#{$i} {
    @include set-value(margin-right, $i+px);
  }

  .p-t-#{$i} {
    @include set-value(padding-top, $i+px);
  }

  .p-b-#{$i} {
    @include set-value(padding-bottom, $i+px);
  }

  .p-l-#{$i} {
    @include set-value(padding-left, $i+px);
  }

  .p-r-#{$i} {
    @include set-value(padding-right, $i+px);
  }
}
form.el-form.demo-ruleForm {
  padding-top: 2%;
  padding-right: 2%;  
  margin: auto;

  margin-top: 12%;
  width: 29%;
  /* height: 40%; */
  z-index: 9999;
  border: 1px solid #e7e3e3;
  box-shadow: 1px 1px 9px 1px #e9e7e7;
}
